.card-image {
  object-fit: cover;
  border-radius: var(--bo-rad3);
  width: 100%;
}

.card-image:hover {
  opacity: 0.75;
}

.profile-link {
  text-decoration: underline;
  color: var(--main-clr-dark);
  display: flex;
  align-items: center;
  gap: var(--gap1);
  padding: 2px 0;
}

.link-text {
  max-width: fit-content;
}

.profile-link:hover {
  color: var(--accent-clr-7);
}
