.your-data-content {
  margin-inline: auto;
  max-width: 65ch;
  line-height: 1.6;
  font-size: 1.1rem;
  padding: 2rem 1rem;
}

.your-data-content h1 {
  font-size: clamp(2.5rem, 1.9783rem + 2.6087vw, 4rem);
}

.your-data-content h2 {
  padding-top: 1rem;
}

.your-data-content p {
  white-space: pre; /* CSS 2.0 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3.0 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap; /* HP Printers */
  word-wrap: break-word; /* IE 5+ */
}

.your-data-content ul {
  padding-left: 0.5rem;
}

.your-data-content li {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.no-pd li {
  padding-top: 0;
  padding-bottom: 0;
}

span {
  font-weight: bold;
}

.source {
  text-align: right;
  font-size: 1rem;
}

@media screen and (max-width: 760px) {
  .content {
    font-size: 0.875rem;
  }
}
