---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/404.css";
---

<MainLayout>
  <div class="container">
    <div>
      <h1>Something went wrong.</h1>
      <p>Either i tripped on the WiFi Cable, or this site doesn't exist.</p>
    </div>
    <a href="/"> Back To Home </a>
  </div>
</MainLayout>
