---
import Searchbar from "../components/Searchbar.astro";
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/about.css";
---

<MainLayout>
  <main class="content-section">
    <h1>About TH</h1>
    <Searchbar />
  </main>
</MainLayout>
