---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/colophon.css";
---

<MainLayout>
  <div class="content-section">
    <div class="colo-content">
      <h1>Colophon</h1>
      <aside>
        Keep in mind, that every link on this page is an external link. These
        pages are not affiliated with us and have their own Terms Of Service for
        collecting and storing your data ("...looking at you Google and
        Youtube.").
      </aside>
      <section aria-labelledby="link-list" class="links-list">
        <h2>Main Framework</h2>
        <p>
          <a href="https://astro.build/" target="_blank"
            ><span>Astro JS</span><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-external-link"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
        </p>
        <h2>Search</h2>
        <p>
          <a href="https://pagefind.app/" target="_blank"
            ><span>Pagefind</span><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-external-link"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
        </p>
        <h2>Fonts</h2>
        <p>
          <a href="https://fonts.google.com/" target="_blank"
            ><span>Google Fonts</span><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-external-link"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
        </p>
        <ul>
          <li class="quicksand">Quicksand</li>
          <li class="rubik">Rubik</li>
          <li class="sulphur">Sulphur Point</li>
        </ul>
        <h2>Icons</h2>
        <p>
          <a href="https://fonts.google.com/icons" target="_blank"
            ><span>Google Fonts</span><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-external-link"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
        </p>
        <p>
          <a href="https://simpleicons.org/" target="_blank"
            ><span>Simple Icons</span><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-external-link"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
        </p>
        <p>
          <a href="https://feathericons.com/" target="_blank"
            ><span>Feather Icons</span><svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-external-link"
              ><path
                d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
              ></path><polyline points="15 3 21 3 21 9"></polyline><line
                x1="10"
                y1="14"
                x2="21"
                y2="3"></line></svg
            ></a
          >
        </p>
        <h2>Acknowledgements</h2>
        <ul class="ack-list">
          <li>
            <span> The Youtube channel of </span>
            <a href="https://www.youtube.com/@KevinPowell"
              ><span>Kevin Powell</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-external-link"
                ><path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path><polyline points="15 3 21 3 21 9"></polyline><line
                  x1="10"
                  y1="14"
                  x2="21"
                  y2="3"></line></svg
              ></a
            >
            <span>
              helped me with everything CSS related. The Guy is a CSS Guru.
            </span>
          </li>

          <li>
            <span> Youtube Channel </span>
            <a href="https://www.youtube.com/@WebDevSimplified" target="_blank"
              ><span>Web Dev Simplified</span><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-external-link"
                ><path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path><polyline points="15 3 21 3 21 9"></polyline><line
                  x1="10"
                  y1="14"
                  x2="21"
                  y2="3"></line></svg
              ></a
            >
            <span>
              helped me a lot with HTML, CSS, JS and web development in general.
            </span>
          </li>
          <li>
            <span> The </span>
            <a href="https://www.youtube.com/@CodinginPublic" target="_blank"
              ><span>Coding in Public</span><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-external-link"
                ><path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path><polyline points="15 3 21 3 21 9"></polyline><line
                  x1="10"
                  y1="14"
                  x2="21"
                  y2="3"></line></svg
              ></a
            >
            <span>Youtube Channel helped a lot with Astro</span>
          </li>
          <li>
            <span>I took the modal for the search from an Article from</span>
            <a
              href="https://bleech.de/en/blog/creating-a-modal-using-the-dialog-html-element/"
              target="_blank"
            >
              <span>Bleech.de</span><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-external-link"
                ><path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path><polyline points="15 3 21 3 21 9"></polyline><line
                  x1="10"
                  y1="14"
                  x2="21"
                  y2="3"></line></svg
              >
            </a>
            <span>written by Manos Menexis.</span>
          </li>
          <li>
            <span>Big thanks to Una Kravets.</span>
            <a href="https://una.im/" target="_blank">
              <span>Una.im</span><svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-external-link"
                ><path
                  d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
                ></path><polyline points="15 3 21 3 21 9"></polyline><line
                  x1="10"
                  y1="14"
                  x2="21"
                  y2="3"></line></svg
              >
            </a>
            <span>I found inspiration among her social media links.</span>
          </li>

          <li><span>Everbody who supported me: Thank you!!!</span></li>
        </ul>
      </section>
    </div>
  </div>
</MainLayout>
