---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/impressum.css";
---

<MainLayout>
  <div class="content-section">
    <div class="impressum-content">
      <h1 id="title">Impressum</h1>
      <div class="divider-1"></div>
      <address class="contact">
        <h2>Contact</h2>
        <p>therapyhangout.com</p>
        <h3>Adress:</h3>
        <p>Fuldastraße 3, 12043 Berlin, Germany</p>
        <span class="email">
          <h4>Email:</h4>
          <p>
            <a href="mailto:contact@therapyhangout.com"
              >contact@therapyhangout.com</a
            >
          </p>
        </span>
      </address>
      <div class="divider-2"></div>
      <div class="resources">
        <p>
          The easiest way to contact us is via email at
          <span> </span>
          <a href="mailto:contact@therapyhangout.com" class="resources-link">
            contact@therapyhangout.com
          </a>{" "}. <br /> We are looking forward to your feedback. Please keep
          in mind, that we don't have enough resources to answer every email and/or
          question.
        </p>
      </div>
      <div class="divider-2"></div>
      <address class="press">
        <h2>V. i. S. v. § 18 Abs. 2 MStV</h2>
        <br />
        <p class="press-name">Sebastian Wuchert</p>
        <h3>Adress:</h3>
        <p>
          therapyhangout.com, Sebastian Wuchert, Fuldastraße 3, 12043 Berlin,
          Germany
        </p>
        <span class="email">
          <h4>Email:</h4>
          <p>
            <a href="mailto:press@therapyhangout.com" target="_blank"
              >press@therapyhangout.com</a
            >
          </p>
        </span>
      </address>
    </div>
  </div>
</MainLayout>
