---
import MainLayout from "../layouts/MainLayout.astro";
import ContentYourData from "../components/ContentYourData.astro";
import "../styles/yourData.css";
---

<MainLayout>
  <div class="content-section">
    <div class="your-data-content">
      <ContentYourData />
    </div>
  </div>
</MainLayout>
