---
import { Image } from "astro:assets";
import "../styles/credImgContainer.css";

const { image } = Astro.props;
---

<div class="image-card">
  <a
    href="https://www.pexels.com"
    target="_blank"
    class="profile-link"
    aria-label="external link to photographers profile opened in new window"
  >
    <div class="image-container">
      <Image
        class="card-image"
        src={image.src}
        alt={image.alt}
        width={445}
        height={250}
        sizes="250px"
        loading="eager"
        format="avif"
      />
      <div class="profile-name">
        <a
          href="https://www.pexels.com"
          class="profile-link link-text"
          target="_blank"
          ><span> Gene Simmons </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-external-link"
            ><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"
            ></path><polyline points="15 3 21 3 21 9"></polyline><line
              x1="10"
              y1="14"
              x2="21"
              y2="3"></line></svg
          >
        </a>
      </div>
    </div>
  </a>
</div>
