---
import Bluesky from "../assets/svgs/bluesky.svg";
import Instagram from "../assets/svgs/instagram.svg";
import Twitter from "../assets/svgs/x.svg";
import Reddit from "../assets/svgs/reddit.svg";
import "../styles/socialShares.css";
---

<div class="social-shares" data-pagefind-ignore>
  <p>share it:</p>
  <ul class="soc-links">
    <li>
      <a href="https://bsky.app/" class="soc-link" target="_blank">
        <figure>
          <Bluesky />
          <figcaption class="tooltip">Bluesky</figcaption>
        </figure>
      </a>
    </li>

    <li>
      <a href="https://www.instagram.com" class="soc-link" target="_blank">
        <figure>
          <Instagram />
          <figcaption class="tooltip">Instagram</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://www.reddit.com/" class="soc-link" target="_blank">
        <figure>
          <Reddit />
          <figcaption class="tooltip">Reddit</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com" class="soc-link" target="_blank">
        <figure>
          <Twitter />
          <figcaption class="tooltip">Twitter</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</div>
