---
import Arrow from "../assets/svgs/arrow_circle_right.svg";
import Bluesky from "../assets/svgs/bluesky.svg";
import Instagram from "../assets/svgs/instagram.svg";
import Twitter from "../assets/svgs/x.svg";
import Reddit from "../assets/svgs/reddit.svg";
import "../styles/socialFollow.css";
---

<div class="social-follow">
  <p class="follow">
    follow us <span><Arrow /></span>
  </p>
  <ul class="soc-links">
    <li>
      <a href="https://bsky.app" class="soc-link" target="_blank">
        <figure>
          <Bluesky />
          <figcaption class="tooltip">Bluesky</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://instagram.com" class="soc-link" target="_blank">
        <figure>
          <Instagram />
          <figcaption class="tooltip">Instagram</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://twitter.com" class="soc-link" target="_blank">
        <figure>
          <Twitter />
          <figcaption class="tooltip">Twitter</figcaption>
        </figure>
      </a>
    </li>
    <li>
      <a href="https://reddit.com" class="soc-link" target="_blank">
        <figure>
          <Reddit />
          <figcaption class="tooltip">Reddit</figcaption>
        </figure>
      </a>
    </li>
  </ul>
</div>
