---
import ChevronUp from "../assets/svgs/chevron-up.svg";
import "../styles/toTopButton.css";
---

<button role="button" aria-label="Back to top" class="to-top-btn"
  ><ChevronUp />
</button>

<script>
  import "/src/scripts/toTopLogic.js";
</script>
